.subCommentDiv {
    /* border-top: 0.5px dotted #000000;*/
    border-left: 3px solid #494a49;
}

.subCommentHeaderDiv {
    width:100%;
    font-size: 10px;
    border-bottom: 0.1px dotted  #000000;
    color: silver;
    text-decoration:none;
}

a.subCommentHeaderAnchor:hover {
    text-decoration: none;
}

a.subCommentAuthor {
    text-decoration: none;
    color: rgb(119, 116, 116)
}

a.subCommentAuthor:hover {
    text-decoration: underline;
    color: silver;
}

.subCommentBodyDiv  {
    font-size: 12px;
}

.subCommentBodyText {
    text-decoration: none;
    color: silver;
}

.subCommentBodyText a {
    color: silver;
}

.subCommentBodyText a:hover {
    text-decoration: underline;
}
