a.footer:active {
    color: silver;
    text-decoration: none;
}

a.footer:visited {
    color: lightblue;
    text-decoration: underline;
}

a.footer:hover {
    color: lightcoral;
    text-decoration: none;
}

a.footer {
    color: silver;
    text-decoration: none;
}
